html,body {
	height:100%;
    background:center no-repeat fixed url('../img/intro-bg.png');
}

.icon-bar {
	background-color:#fff;
}
.navbar {
  border-radius: 0;
	margin-bottom:0;
}
.navbar .container-fluid {
	margin:auto;
}
.navbar-trans {
	background-color:#201205;
    color:#fff;
}
.navbar-trans li>a:hover,.navbar-trans li>a:focus,.navbar-trans li.active {
	background-color:#A04C0E;
}

.navbar-trans a{
    color:#fefefe;
}

.navbar-trans .form-control:focus {
	border-color: #eee;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

.fix {
  position: fixed;
  top: 0;
  width:100%;
  z-index:100;
}

section {
	padding-top:20px;  
    padding-bottom:30px; 
}
.v-center {
    padding-top:10%;
    font-size:70px;
}
  
.well {
	border-color:transparent;
}

a.list-group-item.active,[class*='-info'] {
	background-color: #168ccc;
    color:#fff;
}
 
#section1 {
	padding-top:70px; 
    color:#000;
    min-height:calc(100% - 50px);
}
#section1 h1 {
	padding-top:0;
	padding-bottom:60px;
}
section.gray {
	background-color: #EFE6DC;
    color:#686868;
}
section.orange {
	background-color: #E07826;
    color:#FFF;
}

section.white {
	background-color: #fff;
    color:#444;
}

.panel .panel-heading {
	background-color:#201205;
	color: #FFF;
}
.panel .panel-heading h2.panel-title {
	font-size: 200%;
}
.mc-field-group label {
}
input, select {
    background-color:white;
    color: #888;
    border: 1px solid #ccc;
    font-family: Cantarell, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    height: 35px;
    padding: 0 25px;
    margin: 0 0 20px 0;
    
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

footer {
	background-color:#494949;
    color:#ddd;
    min-height:100px;
    padding-top:20px;
    padding-bottom:40px;
	text-align:center;
}

footer .nav>li>a {
    padding:3px;
    color:#ccc;
}

footer .nav>li>a:hover {
    background-color:transparent;
	color:#fff;
}
